<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-hide-statusbar" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>Hide Status Bar</name>
    <author>Mike Massari (http://michelemassari.com/)</author>
    <description>Cordova / PhoneGap Plugin to allow hide the status bar in iPhone and iPads
      using iOS 9 and 10 for full screen applications</description>
    <keywords>cordova, ios, cordova-ios, app, status bar, status, bar, UIStatusBarHidden, UIViewControllerBasedStatusBarAppearance</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="UIStatusBarHidden">
          <dict>
            <key>UIStatusBarHidden</key>
            <true/>
          </dict>
      </config-file>
      <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
          <dict>
            <key>UIViewControllerBasedStatusBarAppearance</key>
            <false/>
          </dict>
      </config-file>
    </platform>
</plugin>